MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_DB_NAME=draftkit
CORS_ALLOWED_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_KEY=draft-kit_xxxxxxxxxxxxxxxxx
API_URL=https://fantasy-baseball-api.onrender.com
